@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --primary-color: rgb(44, 126, 145);
    --primary-color-darck: rgb(20, 56, 65);    --primary-color-white: rgb(164, 174, 177);


}
*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

h1{
    text-transform: uppercase;
    color: var(--primary-color);
    text-shadow: 1px 3px 2px rgb(44, 44, 44);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;    
    width: 100%;
}

form input{
    font-size: 24px;
    line-height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;

}

form button:hover{
 background-color: var(--primary-color-darck);
}

form button:active{
    background-color: var(--primary-color-white);
}
.paragrafo-resultado, .bad{
    background: #32c574;
    padding: 10px 20px;
}

.bad{
    background: rgb(228, 52, 52);
}
